{% extends "film/base.html" %}
{% block content %}
    {% if genre_video %}
        {% for film in genre_video %}
            <div>
                <div><a href="{{ film.get_absolute_url }}"><img alt="Film poster" class="img-poster"
                                                                src="{{ film.image.url }}"></a></div>
                <div><a href="{{ film.get_absolute_url }}">{{ film.name }}</a></div>
            </div>
        {% endfor %}
    {% else %}
        <h2>Фильмы по жанру: {{ genre }} отсутствуют</h2>
    {% endif %}
    {% include "film/my_templates/genres.html" %}
{% endblock %}
