{% extends "film/base.html" %}
{% load film_tags %}
{% block content %}
    <div class="content">
        <div class="video">
            <div class="player">
                {% with filter_video|first as first_video %}
                    <video height='360' width="640" controls>
                        <source src="{% url 'stream' first_video.id %}" type="video/mp4"/>
{#                        <source src="{% url 'stream' first_video.id %}" type="video/webm"/>#}
                    </video>
                {% endwith %}
            </div>
            <div class="top-film">
                <ul>
                    {% for film in filter_video|slice:':3' %}
                        <li>
                            <div class="poster"><a href="{{ film.get_absolute_url }}"><img src="{{ film.image.url }}"
                                                                                           alt="poster"></a></div>
                            <div class="name"><p>{{ film.name }}</p> <a href="{{ film.get_absolute_url }}">Смотреть
                                онлайн</a></div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="carousel-box">
            <h2>Новинки</h2>
        </div>
        {% show_content video "Фильмы онлайн" %}
    </div>

{% endblock %}