{% extends "film/base.html" %}
{% load static %}
{% block content %}
    <div><h1>{{ video.name }}</h1></div>
    <div>
        <div><img width="188px" height="263px" src="{{ video.image.url }}" alt="{{ video.name }}"></div>
        <div>
            <table>
                <tbody>
                    <tr>
                        <td><h3>Дата выхода:</h3></td>
                        <td>{{ video.release_year }}</td>
                    </tr>
                    <tr>
                        <td><h3>Страна:</h3></td>
                        <td>{{ video.country }}</td>
                    </tr>
                    <tr>
                        <td><h3>Режиссер:</h3></td>
                        <td>{% for director in video.directors.all %} {{ director }}, {% endfor %}</td>
                    </tr>
                    <tr>
                        <td><h3>Жанр:</h3></td>
                        <td>{% for genr in video.genres.all %} {{ genr }}, {% endfor %}</td>
                    </tr>
                    <tr>
                        <td><h3>В ролях актеры:</h3></td>
                        <td>{% for actor in video.actors.all %} {{ actor }}, {% endfor %}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div>
        <div><h2>Про что фильм "{{ video.name }}"</h2></div>
        <div>{{ video.description }}</div>
    </div>
    <br>
    {% if video.video %}
        <video src="{{ video.video.url }}" height="500" width="600" controls ></video>
    {% else %}
        <p>Контент отсутствует</p>
    {% endif %}


{% endblock %}