%button {
  padding: 8px;
  background: #691b6a;
  color: white;
  height: 30px;
  font-size: 15px;
  border-radius: 10px;
}

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

%testborder {
  border: 1px solid red;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  background: black;
  max-width: 1000px;
  margin: 0 auto;
  height: auto;
  padding-bottom: 30px;

  .main_wrapper {
    margin-top: 150px;
    min-width: 1000px;
    background: #fff;
  }
}

/*Header  */
header {
  height: 160px;
  width: 100%;
  position: relative;
  background: url(../images/header-bg.jpg) round left top;
}


/*logo*/
.logo img {
  position: absolute;
  left: 20px;
  top: 20px;
  height: 120px;
  width: 150px;
  border-radius: 20px;
}

/*endlogo*/

/*auth*/
.auth {
  position: absolute;
  right: 19px;
  top: 17px;

  li {
    display: inline-block;
    margin-right: 5px;
    padding: 3px;
  }

  a {
    color: #5f5f5f;
    font-size: 13px;
    font-weight: bold;
  }

  a:hover {
    color: #ece9e9;
  }
}

/*endauth*/
/*search*/
.search {
  position: absolute;
  right: 10px;
  top: 50px;
}

.search input {
  height: 28px;
  padding-left: 9px;
  background: #373737;
  border-top: 1px solid #101010;
  border-left: 1px solid #232323;
  border-bottom: 1px solid #3d3d3d;
}

.search input::-webkit-input-placeholder {
  color: #888888;
  font-size: 12px;
}

.search input:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.search button {
  height: 28px;
  width: 80px;
  text-align: center;
  background: #691b6a;
  border-top: 1px solid #802081;
  border-bottom: 1px solid #350f35;
  border-right: 1px solid #501451;
  border-left: 1px solid #711c72;
  color: #f4f4f4;
  margin-left: -.36em;
}

.search button:hover {
  color: #d7d3d3;
}

/*endsearch*/

/*nav*/
nav {
  position: absolute;
  right: 10px;
  bottom: 0;
  height: 70px;


  .cat {
    > li {
      margin-top: 0;
      width: 130px;
      height: 70px;
      background: url(../images/menu-bg.jpg) repeat-x left top;
      display: inline-block;
      border: 1px solid #000;
      padding: 18px;
      text-align: center;
      font-size: 18px;
      cursor: pointer;

      &:hover {
        background: url(../images/menu-bg-act.jpg) repeat-x right top;
      }

      > a {
        display: block;
        color: black;

      }
    }

    .dropdown {
      border-top-left-radius: 10px;
      position: relative;

      &:hover .dropdown-content {
        display: inline-block;
      }

      .dropdown-content {
        display: none;
        padding: 0;
        position: absolute;
        left: 10px;
        top: 67px;
        width: 582px;
        z-index: 999;

        li {
          float: left;
          text-align: left;
          margin-left: -10px;
          width: 194px;
          height: 34px;
          padding: 5px 0px 5px 10px;
          background: url(../images/menu-down.jpg) no-repeat 0px -34px;

          a {
            color: #7a7979;
            font-size: 12px;
          }

          &:hover {
            background: url(../images/menu-down.jpg) no-repeat;
            font-weight: bold;

            a {
              color: #313131;
            }
          }
        }
      }
    }

    .top {
      border-top-right-radius: 10px;
    }

    .serials {
      margin-left: 10px;
      border-radius: 8px 8px 0 0;
      border-top: 2px solid #2193da;
      border-left: 1px solid #2f9ae1;
      border-right: 1px solid #2f9ae1;
      background: url(../images/menu-bg-tv.jpg) repeat-x 0 -1px;

      &:hover {
        background: url(../images/menu-bg-tv-act.jpg) repeat-x left -1px !important;
      }

      a {
        color: #fff;
        //text-decoration: none;
        //line-height: 1.2em;
      }
    }

    .new, .top {
      margin-left: -.36em;
    }

  }
}


/*endnav*/

/*content*/
.content {

  .video {
    background: url(../images/video-bg.png) round left top;

    .player {
      background: black;
      margin-top: 20px;
      margin-bottom: 40px;
    }

    div {
      display: inline-block;
    }

    .top-film {
      margin: 20px 10px 0px 20px;
      vertical-align: top;
      padding: 0;
      margin-top: 20px;

      ul {
        padding: 0;

        li {
          width: 230px;
          background: url(../images/info-bg.jpg) no-repeat left top;
          padding: 10px 0 10px 10px;
          margin-bottom: 11px;

          div {
            margin: 0;
            display: inline-block;
          }

          .poster {
            img {
              height: 105px;
              width: 75px;
            }
          }

          .name {
            margin: 0;
            height:100px;
            padding-left: 5px;
            position: relative;

            p {
              font-size: 11px;
              color: #fff;
              font-weight: bold;
              width: 120px;
            }

            a {
              position: absolute;
              bottom: 0px;
              padding: 10px 10px 10px 5px;
              background: url(../images/button3.png) no-repeat left top;
              color: #fff;
              font-size: 0.83em;
              display: block;
              width: 113px;
              height: 34px;
              text-align: center;

              &:hover {
                background: url(../images/button3-act.png) round left top;
                color: #7c7b7b;
                width: 135px;
                text-shadow: 1px 1px #fff;
                font-size: 14px;
                text-align: initial;

              }
            }
          }
        }
      }
    }
  }
}

//carousel-slider
.carousel-box {
  width: 100%;
  height: auto;

  h2 {
    color: black;
    font-size: 28px;
    height: 40px;
    margin: 0 0 0 10px;
    font-weight: bold;
  }

  .slider {
    position: relative;
    margin: 0px;
    padding: 0px 60px;
    text-align: center;


    .slick-arrow {
      position: absolute;
      margin: -15px 0 0 0;
      top: 30%;
      z-index: 10;
      font-size: 0;
      width: 20px;
      height: 40px;
    }

    .slick-arrow.slick-prev {
      left: 0;
      background: url("../images/sl-arrow_l.svg") 0 0 / 100% no-repeat;
      margin-left: 10px;
    }

    .slick-arrow.slick-next {
      right: 0;
      background: url("../images/sl-arrow_r.svg") 0 0 / 100% no-repeat;
      margin-right: 10px;
    }

    .slick-list {
      //@extend %testborder;
      margin: 0 0 10px 0;
      padding: 10px 0 0 0;
      overflow: hidden;
      background: linear-gradient(180deg, #b0aeae 10%, white 80%);


      .slick-track {
        //@extend %testborder;
        display: flex;

        .slider_item {
          width: 95px;


          p {
            color: black;
            padding: 5px 10px 0 10px;
            font-size: 12px;

          }

          img {
            width: 100px;
            height: 140px;
          }
        }
      }
    }
  }
}

/*film-cat-box*/
.film-cat-box {
  display: block;
  padding-bottom: 20px;
}

.film-cat-box > div {
  display: inline-block;
  margin-left: -1px;
  vertical-align: top;
}

/*film-box*/
.film-box {
  width: 67%;
  margin-right: 10px;

  .listcontent {
    border-right: 1px solid #e9e8e8;
    border-bottom: 1px solid #e9e8e8;
  }
}

.film-box ul {
  padding: 0;
}

.film-box h2 {
  background: url(../images/col-1-head.jpeg) no-repeat left top;
  color: white;
  font-size: 20px;
  font-weight: bold;
  height: 40px;
  padding: 5px 0 5px 10px;
  margin: 0px;
}

.film-box li {
  display: inline-block;
  margin: 0 10px 10px 0;
  vertical-align: top;

  &:nth-child(3n) {
    margin: 0 0px 10px 0;;
  }
}

.film-box li img {
  height: 300px;
  width: 200px;
}

.film-box li p {
  text-align: center;
  margin: 3px 0 0px 0;
  color: black;
  width: 200px;
  height: 28px;
  overflow: hidden;
}

/*end film box*/
/*cat-box*/
.cat-box {
  width: 31.5%;
}

.cat-box h2 {
  background: url(../images/col-2-head.jpg) round left top;
  color: white;
  font-size: 20px;
  font-weight: bold;
  height: 40px;
  padding: 5px 0px 5px 10px;
}


.cat-box ul {
  padding: 5px 0px 0px 0px;
}

.cat-box li {
  float: left;
  margin: 0 3px 3px 0;

  a {
    background: url(../images/type-bg.jpeg) no-repeat left top;
    text-decoration: none;
    font-size: 12px;
    color: #fff;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 26px;
    display: block;
    //text-overflow: ellipsis;
    white-space: nowrap;

    &:hover {
      background: url(../images/button-bg.jpg) #6c1b6d repeat-x left top
    }
  }
}

/*endcat-box*/
/*endfilm-cat-box*/


/*endcontent*/

/*pagination*/
.paginate {
  z-index: 32;
  text-align: center;
  display: block;
}

.paginate ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.paginate li {
  display: inline-block;
  vertical-align: unset;
}

.paginate a {
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 1px;
  margin: 1px 2px;
  padding: 5px 10px;
  display: inline-block;
  border-top: 1px solid #fff;
  text-decoration: none;
  color: #717171;
  font-size: smaller;
  font-family: "Helvetica Neueu", Helvetica, Arial, sans-serif;
  text-shadow: white 0 1px 0;
  background-color: #f5f5f5;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#eaeaea));
  background-image: -webkit-linear-gradient(top, #f9f9f9, #eaeaea);
  background-image: -moz-linear-gradient(top, #f9f9f9, #eaeaea);
  background-image: -ms-linear-gradient(top, #f9f9f9, #eaeaea);
  background-image: -o-linear-gradient(top, #f9f9f9, #eaeaea);
  background-image: linear-gradient(top, #f9f9f9, #eaeaea);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f9f9f9', EndColorStr='#eaeaea');
}

.paginate a:first-child, .paginate a.first {
  margin-left: 0;
}

.paginate a:last-child, .paginate a.last {
  margin-right: 0;
}

.paginate a:hover, .paginate a:focus {
  border-color: #fff;
  background-color: #fdfdfd;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#fafafa));
  background-image: -webkit-linear-gradient(top, #fefefe, #fafafa);
  background-image: -moz-linear-gradient(top, #fefefe, #fafafa);
  background-image: -ms-linear-gradient(top, #fefefe, #fafafa);
  background-image: -o-linear-gradient(top, #fefefe, #fafafa);
  background-image: linear-gradient(top, #fefefe, #fafafa);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fefefe', EndColorStr='#fafafa');
}

.paginate a.more {
  box-shadow: 0 0 0 0 transparent;
  border: 0 none;
  background: transparent;
  margin-left: 0;
  margin-right: 0;
}

.paginate a.active {
  box-shadow: rgba(0, 0, 0, 0.75) 0 0 0 0 inset;
  border-color: #505050;
  color: #f2f2f2;
  text-shadow: black 0 1px 0;
  background-color: #676767;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5f5f5f), to(#5c5c5c));
  background-image: -webkit-linear-gradient(top, #5f5f5f, #5c5c5c);
  background-image: -moz-linear-gradient(top, #5f5f5f, #5c5c5c);
  background-image: -ms-linear-gradient(top, #5f5f5f, #5c5c5c);
  background-image: -o-linear-gradient(top, #5f5f5f, #5c5c5c);
  background-image: linear-gradient(top, #5f5f5f, #5c5c5c);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#5f5f5f', EndColorStr='#5c5c5c');
}

/*pagination*/

/*show_film*/
.poster {
  vertical-align: top;
  margin-left: 15px;
}

.film-information {
  margin-left: 10px;
  width: 400px;
  tr {
    vertical-align: top;
  }
}

.name-info h3 {
  margin-right: 15px;
  margin-top: 10px;
  width: 165px;
}

.content-info h3 {
  margin-top: 10px;
}

.poster, .film-information {
  margin-top: 10px;
  display: inline-block;
}

.film-description {
  margin: 20px 15px;
  padding: 10px;
  border: 1px solid #d2d2d2;
  color: #989898;
}

.film-view {
  margin-left: 15px;

  video {
    margin-bottom: 10px;
  }
}

/*end_show_film*/

//Comments
.comment_form {
  margin: 10px 0 10px 20px;

  p {
    textarea {
      vertical-align: top;
      padding: 10px;
      border-radius: 5px;
      border: 1px solid #ccc;
      box-shadow: 1px 1px 1px #999;
      resize: none;
    }
  }

  button {
    @extend %button;
  }
}

@mixin comment($bg, $color) {
  padding: 7px 7px 10px 7px;
  background: $bg;
  color: $color;

  .comment_info {
    margin: 0 0 0 0;
    font-size: 14px;

    span {
      font-weight: bold;
    }
  }

  .comment_body {
    margin: 7px 20px 0 0;
    display: flex;
    word-break: break-all;
    line-height: 1.3;

    img {
      margin-right: 15px;
    }
  }
}

.comments {
  .comments_list {
    width: 95%;
    margin-left: auto;
    margin-right: auto;

    .even.comment {
      @include comment(white, black)
    }

    .odd.comment {
      @include comment(#262624, white)
    }
  }
}

//endComments

//register-login
.form-input {
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
}

.register-login-container {
  float: left;
  margin: 20px;

  .register-login {
    clear: both;
    text-align: right;
    line-height: 25px;

    label {
      float: left;
      padding-right: 10px;
    }
  }

  button {
    @extend %button;
  }
}


//endregister-login

//footer
.container_footer {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #262624FF;

  .footer_items {
    //@extend %testborder;
    margin: 0;

    li {
      display: inline-block;
      margin-right: 20px;

      a {
        font-size: 17px;
        color: white;
      }
    }
  }
}

//endfooter
.listcontent {
  padding: 10px;

  .content_box {
    margin-top: 2px;
    background: #f1f1f1;
    border: 1px solid #e5e5e5;
    padding: 2px;

    &:hover {
      background: none;
      border: 1px solid white;
    }

    .content_data {
      -moz-text-align-last: justify;
      text-align-last: justify;

      div {
        display: inline-block;
        font-size: 11px;
        margin: 7px 0px 2px 0px;
      }
    }
  }
}


//rating
.video_rating {
  border: 1px solid #cbc9c9;
  padding: 5px;
}

.rating {
  display: flex;
  align-items: flex-end;
  font-size: 24px;
  line-height: 0.75;
  transition: opacity 0.3s ease 0s;
}

.rating_video {
  font-size: 50px;
}

.rating.rating_sending {
  opacity: 0.2;
}

.rating_body {
  position: relative;
}

.rating_body::before {
  content: '★★★★★★★★★★';
  display: block;
}

.rating_active {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.rating_active::before {
  content: '★★★★★★★★★★';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #8304c9;
}

.rating_items {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.rating_item {
  flex: 0 0 10%;
  height: 100%;
  opacity: 0;
}

.rating_value {
  font-size: 100%;
  line-height: 1;
  padding: 0px 0px 0px -3px;
}

.rating_info {
  color: #5e5e5e;
  margin-left: 7px;

  .rating_info_value {
    font-size: 20px;
  }

  .rating_info_amount_voters {
    font-size: 10px;
    margin-top: 10px;
  }
}
